#container {
  height: 600px;
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: 20px; 
}

body {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode body,
.dark-mode h1 {
  color: white;
}

.dark-mode .menu li {
  color: black;
}

.bar {
  width: 10px;
  background-color: cornflowerblue;
  margin: 1px;
  transition: height 0.5s ease-in-out;
  border-radius: 1px;
}

h1 {
  font-family: monospace;
  font-size: 40px;
  display: flex;
  margin: 0;
}

#size-bars {
  font-size: 20px;
  font-family: monospace;
  display: inline-block;
  margin-left: 20px; 
}

#change-size-bars {
  margin-right: 20px;
  cursor: pointer;
}

#speed-bars {
  font-size: 20px;
  font-family: monospace;
  display: inline-block;
}

#change-speed-bars {
  margin-right: 20px;
  font-size: 15px;
  cursor:pointer;
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
  border: none; 
  cursor: pointer;
  padding: 0; 
  outline: none;
}

.button-container button {
  border: none;
  font-family: monospace;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  margin-right: 10px;
}

.dark-mode .button-container button {
  color: white;
}

.button-container button:hover {
  color: fuchsia; /* Set the color to purple on hover */
}

.dark-mode .button-container button {
  color: white;
}

.dark-mode .button-container button:hover{
  color: fuchsia; /* Set the color to purple on hover and when focused in dark mode */
}

.dropdown {
  outline: black;
  border: black;
  font-family: monospace;
  font-size: 20px;
  position: relative;
  margin-left: 20px;
  flex-wrap: wrap;
  z-index: 1;
}

.menu {
  position: absolute;
  top: calc(100% + 10px);
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.select:hover .menu {
  display: block;
}

.select .selected:hover {
  color: fuchsia;
}

.menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #f2f2f2;
  color: fuchsia;
}


input[type="range"] {
height: 5px;
width: 200px;
-webkit-appearance: none;
appearance: none;
background-color: #ccc;
outline: none;
border: none;
}

input[type="range"]::-webkit-slider-thumb {
height: 15px;
width: 15px;
background-color: fuchsia;
border-radius: 50%;
transition: background-color 0.3s ease-in-out;
-webkit-appearance: none;
appearance: none;
}